
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.gamearea {
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    grid-template-rows: repeat(var(--rows), 30px);
    border-width: 3px;
    border-style: solid;
    border-color: rgb(25, 3, 3);
}

.gamearea > div {
    height: 30px;
    width: 30px;
}

.even {
    background-color:rgb(76, 39, 39);
}

.odd {
    background-color: rgb(109, 56, 56);
}

#heading {
    display: flex;
    align-items: center;
    height: 20px;
    background-color: #000000; /* Set background color to black */
    color: #FFFFFF; /* Set text color to white */
    padding: 0 10px;
}

#heading button {
    margin-right: 5px;
}

#heading button:first-child {
    margin-right: auto; /* Push the button to the left */
}

button {
    background-color: rgb(255, 190, 69);
    border: none;
    color: white;
    padding: 26px 38px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 40%;
}

button:hover {
    opacity: 0.6;
}


body {
    background-color: rgb(99, 51, 51);
}
