.General_chunk {
    background-color: rgba(137, 0, 89, 0.514);
    color: white;
    border: 2px solid rgb(255, 153, 236);
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: red;
    position: relative;
}

.Origin_story {
    background-color: rgba(112, 0, 137, 0.514);
    color: white;
    border: 2px solid rgb(255, 153, 236);
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Hobbies {
    background-color: rgba(50, 0, 137, 0.514);
    color: white;
    border: 2px solid rgb(255, 153, 236);
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-family: brush script mt, cursive;
}

.Sites {
    background-color: rgba(0, 50, 137, 0.514);
    color: white;
    border: 2px solid rgb(255, 153, 236);
    margin: 20px;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    opacity: .5;
}

h2 {
    text-align: center;
    font-family: bradley hand, cursive;
    color: rgb(255, 253, 252);
}

ul {
    text-align: justify;
    color: azure;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
}

.topnav {
    background-color: rgb(0, 91, 109);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #cbffce;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(255, 164, 200);
    color: black;
}

.topnav a.active {
    background-color: #c480ff;
    color: rgb(0, 0, 0);
}

ul {
    text-align: center;
    display: inline-block;
    text-align: center;
    color: lightsteelblue;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #ffe96ab8;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #fe8ccd9a;
}

.blink {
    animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blinkFaster {
    animation: blink .3s steps(1, end) infinite;
}

@keyframes blinkFaster {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes colorChange {
    0% {
        background-color: white;
    }
    100%{
        background-color:white;
    }
    
}

@keyframes moveAndChange {
    0% {
        background-color: white;
    }
    100% {
        background-color: white;
    }
}

.blinkFastest {
    animation: blink .1s steps(1, end) infinite;
}

@keyframes blinkFaster {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

