button {
    background-color:rgb(255, 190, 69);
    border: none;
    color: white;
    padding: 26px 38px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 40%;
}

.button:hover {
    opacity: 0.6;
}

.header {
    text-align: center;
    font-family: fantasy;
}

.startButtons {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 190px;
    /* margin: 30px; */
}

.instructionsButton {
    position: absolute;
    bottom: 80px;
    right: 10%;
    /* transform: translateX(-30%); */
}

table {
    border-collapse: collapse;
    background-color: rgb(255, 190, 69);
}

td {
    width: 30px;
    height: 40px;
    border: 1px solid black;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

body{
    background-color:rgb(99, 51, 51) ;
}

.centered{
    color:rgb(255, 190, 69);
    text-align: center;
}